.text-center{
    text-align: center;
}
.bg-red{
    width: 17vw;
    background: #7992e1;
}

.mx-auto{
    margin: auto;
}
.m-w-20{
    max-width:20 vw;
}
.flex{
display: flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}